/* Wrappers */

.wrapper {
    background-image: url("images/bg.png");
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    padding: 8em 0 8em 0;
    width: 100%;
    text-align: center;
}

    .wrapper.style1 {
        background-image: none;
        background-color: #fff;
    }